
{
"rules": {
          "semi": "warn", 
          "no-console": "warn",  //warning for all console        
          "prettier/prettier": [//make so the end of line ; are accepted with CRLF config
               "error",
               {
                 "endOfLine": "auto" 
               }],
          "react/prop-types": "off",// allow to not specify proptype ! can be a bad idea
          "react/jsx-key": "off",// disable error for no specify key prop.
          "react/no-unescaped-entities": "off" //amllow to use ' in text
     },
"env": { //make so global constant like console are accepted and do not cause error
     "browser": true,
     "node": true
 },
"parserOptions": {
     "ecmaVersion": "latest",
     "sourceType": "module",
     "ecmaFeatures": {
          "jsx": true
      }

 },   
"extends": ["eslint:recommended", "plugin:react/recommended", "plugin:prettier/recommended"]
}
