.tag-container {
  display: flex;
  background-color: #ff6060;
  border-radius: 10px;

  width: 115px;
  margin: 5px 10px 5px 0;

  height: 25px;

  justify-content: center;
  align-items: center;
}
.tag-container_big {
  display: flex;
  background-color: #ff6060;
  border-radius: 10px;

  width: 160px;
  margin: 5px 10px 5px 0;

  height: 25px;

  justify-content: center;
  align-items: center;
}
.tag-container p,
.tag-container_big p {
  color: white;
  font-size: 14px;
  font-weight: 700;

  margin: 0 10px 0 10px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  direction: ltr;
}
@media (max-width: 720px) {
  /* .tag-container{
          width: 84px;
     } */
  .tag-container {
    width: 100px;
  }
  .tag-container_big {
    width: 120px;
  }
  .tag-container p,
  .tag-container_big p {
    font-size: 10px;
  }
}
